<% if @product.errors.any? %>
  <div class="error-wrap">
    <h3>Please fix these errors:</h3>
    <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
