    <div class="header-container">
      <%= image_tag 'magalie-de-preux-wGEtPYgFWP8-unsplash-crop.webp', class: 'header-image', alt: 'Picture of exotic fruits and nuts' %>
      <div class="header-top-left">Mario's Specialty Food Products</div>
      <div class="authentication-position">
        <% if current_user %>

          <%= render partial: "shared/avatar", locals: { user: current_user } %>

          <%= link_to current_user.email, user_path(current_user), class: "auth-email"%>
          <p class="authentication-text"> | </p>
          <a class="authentication-text" href="/signout">Sign Out</a>
        <% else %>
          <a class="authentication-text" href="/signin">Sign In</a>
          <p class="authentication-text"> | </p>
          <a class="authentication-text" href="/signup">Sign Up</a>
        <% end %>
      </div>  
    </div>