
<% @most_reviews.each do |most_reviews| %>
  <div class="card">
    <h2><%= most_reviews.name %></h2>
    <p>$<%= most_reviews.price %></p>
    <p>Imported From <%= most_reviews.country %></p>
  </div>
<% end %>  
