
<% @most_reviews.each do |most_review| %>
  <div class="card">
    <h2><%= link_to most_review.name, product_path(most_review)%></h2>
    <p>$<%= most_review.price %></p>
    <p>Imported From <%= most_review.country %></p>

  </div>
<% end %>  

