
<% @newest_products.each do |newest_product| %>
  <div class="card">
    <h2><%= link_to newest_product.name, product_path(newest_product) %></h2>
    <p>$<%= newest_product.price %></p>
    <p>Imported From <%= newest_product.country %></p>
  </div>
<% end %>  
