<div class="home-container">
  <div class="welcome-sub-header">
    <h1>Welcome to Mario's</h1>
    <h4>Exotic tastes for the discerning palet</h4>
  </div>

  <div class="products">

    <% if @highest_revieweds.any? %>
      <h3>Our Highest Reviewed Products</h3>
      <% @highest_revieweds.first(6).each do |highest_reviewed| %>

        <%= render partial: "shared/product-card", locals: { product: highest_reviewed } %>
        
      <% end %>

    <% else %>
      <p>There are no reviewed products (yet).</p>
    <% end %>

    <% if @most_reviews.any? %>
      <h3>Our Most Reviewed Products</h3>
      <% @most_reviews.first(6).each do |most_review| %>

      <%= render partial: "shared/product-card", locals: { product: most_review } %>

    <% end %>

    <% else %>
      <p>There are no reviewed products (yet).</p>
    <% end %>

    <% if @newest_products.any? %>
      <h3>Our Newest Products</h3>
      <% @newest_products.each do |newest_product| %>

      <%= render partial: "shared/product-card", locals: { product: newest_product } %>
      
      <% end %>

    <% else %>
      <p>There are no new products (yet).</p>
    <% end %>

  </div>  
</div>