<div class="home-container">
  <div class="welcome-sub-header">
    <h1>Welcome to Mario's</h1>
    <h4>Exotic tastes for the discerning palet</h4>
  </div>

  <div class="products">

    <% if @highest_revieweds.any? %>
      <h2>Our Highest Reviewed Products</h2>

        <%= render "shared/highest_reviewed_card" %>

    <% else %>
      <p>There are no reviewed products (yet).</p>
    <% end %>

    <% if @most_reviews.any? %>
      <h2>Our Most Reviewed Products</h2>

      <%= render "shared/most-reviews-card" %>

    <% else %>
      <p>There are no reviewed products (yet).</p>
    <% end %>

    <% if @newest_products.any? %>
      <h2>Our Newest Products</h2>

      <%= render "shared/newest-product-card" %>
      
    <% else %>
      <p>There are no new products (yet).</p>
    <% end %>

  </div>  

  <div>Font made from <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>is licensed by CC BY 3.0</div>

</div>