<div class="home-container">
  <div class="welcome-sub-header">
    <h1>Welcome to Mario's</h1>
    <p>Exotic tastes for the discerning palet</p>
  </div>

  <div class="products">
    <% if @most_reviews.any? %>
      <h2>Most Reviewed Products</h2>

      <%= render "pages/newest-product-card" %>

    <% else %>
      <p>There are no most recent reviews (yet).</p>
    <% end %>

    <% if @newest_products.any? %>
      <h2>Newest Products</h2>

      <%= render "pages/newest-product-card" %>
      
    <% else %>
      <p>There are no newest products (yet).</p>
    <% end %>

    <% if @made_usas.any? %>
      <h2>Top Products From the US of A</h2>
      <div class="products">
        <ul>
          <% @made_usas.each do |made_usas| %>
            <li><%= link_to made_usas.name, product_path(made_usas) %></li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <p>There are no newest products (yet).</p>
    <% end %>

  </div>  

</div>