<div class="static-page-flex">
  <div class="static-flex1">
    <h2>Jobs</h2>
  </div>
  <div class="static-flex2">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore voluptates non ipsum adipisci fugiat, quaerat quidem sed illo id tempore unde perferendis officia! Minus similique incidunt consequatur repellendus sed! Ad eligendi magni enim pariatur. Quis numquam aliquam quae fugit enim illum provident earum ea sequi. Vero dignissimos accusantium consequuntur dolorem. If you're a go-getter type who puts the company first.  If you're a team player.  If you enjoy hard work and aren't afraid to put in long hours, please apply elsewhere.  It just makes us feel inadequate and small, somehow. Must be competitive in skee ball.  Must own your own trenchering machine. Minimum of 30 years experience in the daily usage of flatware.  This position requires a master's degree in interpretive dance with a minor in tap.  A reminder to those of you sitting in the first seven rows; you WILL get wet.  Perferendis perspiciatis voluptatem dicta quaerat sunt deleniti tempora temporibus.</p>
  </div>
</div>