<div class="static-page-flex">
  <div class="static-flex1">
    <h2>Privacy Policy</h2>
  </div>
  <div class="static-flex2">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas optio non vel harum! Porro quas doloribus distinctio quibusdam! Molestiae ipsam est voluptatibus ex eius rerum, vitae aperiam id, consequuntur distinctio maiores! Rerum explicabo non sequi porro odio nemo quia beatae quas vitae deleniti unde repellendus consequuntur sed ipsa fugiat commodi, pariatur corrupti eos. Explicabo maiores sit pariatur, laudantium error quasi eligendi nemo laboriosam aperiam ex? Laudantium possimus esse alias iusto omnis minima dolor aliquam accusantium. We believe in privacy very strongly.  Everyone on this website needs to keep themselves to their own business.  We have decided to erect a good neighbor fence to make certain that will be the way of it.</p>
  </div>
</div>