<div class="home-container">
  <div class="welcome-sub-header">
    <h1>Search Results</h1>

      <% @results.each do |result| %>
        <%= link_to result.name %><br>
      <% end %>


  </div>  

  <div>Font made from <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>is licensed by CC BY 3.0</div>

</div>