<div class="static-page-flex">
  <div class="static-flex1">
    <h2>Services</h2>
  </div>
  <div class="static-flex2">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas autem at, quisquam nemo facilis ex ipsa dignissimos voluptates ea enim veritatis eos mollitia, aperiam, veniam eaque. Modi delectus corrupti repudiandae hic vel vitae quia natus expedita non minus recusandae, excepturi nihil? Perferendis perspiciatis voluptatem dicta quaerat sunt deleniti tempora temporibus.  Actually we don't really do anything for anyone if we can help it.  We tend to wake up after 11am and end up devolving into a skee ball tournament around 2.  That's the day, typically. We only com into the office Wednesdays and Thursdays.  This magnificent website has made life a never-ending money shower.  I can buy you a boat.  It's nothing to me!  I'll buy you a Bayliner.  I'm serious.  Call me.</p>
  </div>
</div>