/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


//  app/assets/fonts/SnellRoundhandScriptV1.woff
 
// Custom Boostratp Variables must be imported before bootstrap
@import "bootstrap";

// custom Stylesheet Import links



// General Text Styles

@font-face {
  font-family:'SnellRoundhand';
  src: font-url('SnellRoundhandScriptV1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@mixin headings {
  h1, h2, h3,
  h4, h5, h6 {
      @content;
  }
}

h1 {
  font-size: 5.9vh;
}

h2 {
  font-size: 3.4vh;
}
h3 {
  font-size: 3.2vh;
}
h4 {
  font-size: 3.0vh;
}
h5 {
  font-size: 2.5vh;
}
p {
  font-size: 1.8vh;
}

@include headings {
  font-family: 'SnellRoundhand';
  z-index: 100;
}

a {
  color: #000000;
}

a span {
  color: #000000;
}

.center {
  text-align: center;
}

.flash {
  display: inline-block;
  background: #f9f8ea;
}

.flash-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  min-height: calc(100vh - 570px);
}

// Custom Scrollbar

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

// // Media Queries

// /* Smartphones (portrait and landscape) ----------- */
// @media only screen 
// and (min-device-width : 320px) 
// and (max-device-width : 480px) {
// /* Styles */
// // [class="header-image"] {
// //   max-width: 480px;
// //   max-height: 200px;
// // }
//   body {
//     // min-width: 320px;
//     // max-width: 480px;
//     // max-height: 260px;
//     // overflow: hidden;
//     height: 40vh;
//   }
// }

// /* Smartphones (landscape) ----------- */
// @media only screen 
// and (min-width : 321px) {
// /* Styles */
// body {
//   // min-width: 320px;
//   // max-width: 480px;
//   // max-height: 260px;
//   // overflow: hidden;
//   height: 40vh;
// }
// }

// /* Smartphones (portrait) ----------- */
// @media only screen 
// and (max-width : 320px) {
// /* Styles */
// body {
//   // min-width: 320px;
//   // max-width: 480px;
//   // max-height: 260px;
//   // overflow: hidden;
//   height: 40vh;
// }
// }

// /* iPads (portrait and landscape) ----------- */
// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) {
// /* Styles */
// }

// /* iPads (landscape) ----------- */
// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) 
// and (orientation : landscape) {
// /* Styles */
// }

// /* iPads (portrait) ----------- */
// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) 
// and (orientation : portrait) {
// /* Styles */
// }


// Header styles

.header-container {
  position: relative;
}

.header-image {
  padding: 5px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
  width: 100%;
  height: 400px;
  object-fit: cover;
  opacity: 0.35;
}

.header-top-left {
  position: absolute;
  padding-bottom: 100px;
  top: 34px;
  left: 16px;
  font-size: 6vw;
  line-height: 65px;
  min-width: 400px;
  font-family: 'SnellRoundhand', cursive;
}
.authentication-text {
  display: inline-block;
}

.authentication-position {
  position: absolute;
  top: 15px;
  right: 10px;
}

// Avatars

.avatar-tiny {
  width: 24px;
  height: 24px;
  padding: 1px;
  border-radius: 5px;
  object-fit: cover;
}

.avatar {
  width: 100px;
  height: 100px;
  padding: 1px;
  border-radius: 25px;
  object-fit: cover;
}

// non-card product images

.product-image {
  height: 100px;
  padding: 1px;
  border-radius: 10px;
  object-fit: cover;
}

.product-image-tiny {
  width: 75px;
  height: 75px;
  padding: 1px;
  border-radius: 5px;
  object-fit: cover;
  margin-top: 10px;
}

// Footer Styles

// Navbar Styles

@media only screen and (max-width: 480px) {
  .hidden-xs-hover {
    visibility: hidden;
  }
}

// Home Page Styles

.welcome-sub-header {
  text-align: center;
}

// .welcome-sub-header > h1 {
//   font-size: 50px;
// }

.welcome-sub-header > h4 {
  // font-size: 30px;
  color: rgba(37, 37, 37, 0.416);
}

// Product card

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  // grid-template-columns: repeat(3, minmax(auto, 1fr));
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  // min-width: 375px;
  // min-height: 415px;
  
  & > h3 {
    grid-column: 1 / -1;
  }
  
  // & > ul {
  //   list-style-type: none;
  // }
  
  // & > ul > li {
  //   font-family: 'SnellRoundhand';
  //   border: 1px solid #ccc;
  //   border-radius: .3rem;
  // }

}

.card {
  // position: relative;
  padding: 10px;
  width: 375px;
  height: 415px;
  background-color: white;
  padding: 0% 0% 0% 0%;
  padding-bottom: 1px;
  border-radius: 5px;
  border: 1.5px solid #CBCBCB;
  border-top: 3px solid #419234;
  text-align: center;
  overflow: hidden;
  justify-self: center;
  // min-width: none;
}

.card-image {
  display: block;
  padding: 1px;
  border-radius: 5px;
  width: 373px;
  height: 300px;
  object-fit: cover;
}

.card-image-not-found {
  padding: 1px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}

.card-image-not-found-sm {
  width: 75px;
  height: 75px;
  padding: 1px;
  border-radius: 5px;
  object-fit: cover;
  margin-top: 10px;
}

.card-text-up {
  position: relative;
  margin-top: -18px;
  margin-bottom: -15px;
}

.card-text-up-most-rev { // May be eliminated
  position: relative;
  margin-top: -20px;
  margin-bottom: -4px;
}

// Product Card Show

.card-show {
  // position: relative;
  padding: 10px;
  width: 800px;
  height: 600px;
  background-color: white;
  padding: 0% 0% 0% 0%;
  padding-bottom: 1px;
  border-radius: 5px;
  border: 1.5px solid #CBCBCB;
  border-top: 3px solid #419234;
  text-align: center;
  overflow: hidden;
  // min-width: none;
}

.card-show-up {
  position: relative;
  margin-top: -12px;
  // margin-bottom: -15px;
}

.card-show-flex {
  display: flex;
  justify-content: space-around;
}

.card-show-col1 {
  order: 1;
}

.card-show-col2 {
  order: 2;
}

.product-show-text-up {
  margin-top: -40px;
  margin-bottom: -15px;
}

.card-image-show {
  padding: 1px;
  border-radius: 5px;
  width: 800px;
  height: 100%;
  object-fit: cover;
}

// User Forms

.user-form-flex-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form-col-1 {
  order: 1;
  border: 1px;
  max-width: 400px;
  flex-basis: fit-content;
}

.form-col-2 {
  order: 2;
  border: 1px;
  max-width: 230px;
  flex-basis: fit-content;
  margin-left: 40px;
}


// User Profile Show 

.profile-flex {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
}

.show-col-1 {
  order: 1;
  border: 1px;
  flex-basis: fit-content;
}

.show-col-2 {
  margin-left: 20px;
  text-align: left;
  order: 2;
  border: 1px;
  flex-basis: fit-content;
}

// Product Forms

.product-form-flex {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
}

.product-col-1 {
  order: 1;
  border: 1px;
  // flex-basis: fit-content;
}

.product-col-2 {
  margin-left: 20px;
  text-align: left;
  order: 2;
  border: 1px;
//   flex-basis: fit-content;
}


// Reviews Styles

.reviews-container {
  white-space: nowrap;
}

.reviews-ul {
  list-style-type: none;
}

.review-card {
  padding: 10px;
  width: 100%;
  height: 200px;
  border: 1px;
  padding: 5px 5px 0px 5px;
  border-radius: 5px;
  border: 1.5px solid #CBCBCB;
  border-top: 3px solid #65e252;
  text-align: left;
  overflow: scroll;
  margin-bottom: 5px;
}

.review-card-flex {
  display: flex;
  justify-content: space-between;

  & > .review-box1 { // avatar
    order: 1;
    width: 78%;
  }

  & > .review-box2 { // product info
    order: 2;
    width: 100%;
  }

  & > .review-box3 { //date
    order: 3;
  }
  
}


.review-stars {
  text-align: left;
  margin-top: -12px;
}

// Review Show Styles

.review-card-show {
  padding: 10px;
  width: 800px;
  height: 400px;
  background-color: white;
  padding: 0% 0% 0% 0%;
  padding-bottom: 1px;
  border-radius: 5px;
  border: 1.5px solid #CBCBCB;
  border-top: 3px solid #65e252;
  overflow: hidden;
}


.review-card-flexbox {
  display: flex;
  justify-content: center;
}

.review-box1 {
  order: 1;
  
}

.review-box2 {
  order: 2;
}

.margin-stars {
  margin-top: 10px;
}

.margin-text {
  margin-top: -10px;
}

.review-form-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.review-form-center {
  display: block;
  margin: 0 auto;
}


// Product Show Card flexbox & Review Show Flexbox

.product-show-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  & > .product-box1 { // avatar
    order: 1;
    // align-content: center;
    
  }

  & > .product-box2 { // product info
    order: 2;
    // width: 100%;
  }

  & > .product-box3 { //date
    order: 3;
    // align-content: center;
  }
  
}

// Product Show

.margin-spacer {
  margin-top: 10px;
}


// Will Paginate Styling

.pagination {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:fit-content;
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #419234;
    color: white;
    border: 1px solid #419234; }
  .pagination a {
    text-decoration: none;
    color: #288a40;
    border: 1px solid #4d8647; }
    .pagination a:hover, .pagination a:focus {
      color: #152519;
      border-color: #152519; }
  .pagination .page_info {
    background: #419234;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .pagination .page_info b {
      color: #152519;
      background: #4d8647;
      padding: 0.1em 0.25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child + html .pagination {
    overflow: hidden; 
}


// Star Rating Radio Form

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;

}

.review-form-center-stars {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}


.rating, .review-form-center-stars > input {
  display: none
}

.rating, .review-form-center-stars > label {
  position: relative;
  width: 1em;
  font-size: 6vw;
  color: #FFD600;
  cursor: pointer
}

.rating, .review-form-center-stars > label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.rating, .review-form-center-stars > label:hover:before,
.rating, .review-form-center-stars > label:hover~label:before {
  opacity: 1 !important
}

.rating, .review-form-center-stars > input:checked~label:before {
  opacity: 1
}

.rating, .review-form-center-stars:hover > input:checked~label:before {
  opacity: 0.4
}

// Star Rating Average Gradient Display

:root {
  --star-size: 30px;
  --star-color: #fff;
  --star-background: #fc0;
}

.stars {
  --percent: calc(var(--rating) / 5 * 100%);
  
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times; // make sure ★ appears correctly
  line-height: 1;
  margin-top: -12px;
  
  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

// Corner Arrow for Cards

.arrow-top-reviewed {
  background-color: #d4af37;
  // box-shadow: 0 0 3px 2px rgba(0,0,0,0.8);
  height: 120px;
  left: -70px;
  position: absolute;
  top: -70px;
  width: 180px;
  z-index: 1;

  -webkit-transform: rotate(-45deg);
}

.arrow-top-reviewed span {
  color: #f5f5f5;
  font-family: sans-serif;
  font-size: 1em;
  left: 45px;
  top: 68px;
  position: absolute;
  width: 50px;
}

.arrow-most-reviewed {
  background-color: #4d8647;
  // box-shadow: 0 0 3px 2px rgba(0,0,0,0.8);
  height: 120px;
  left: -70px;
  position: absolute;
  top: -70px;
  width: 180px;
  z-index: 1;

  -webkit-transform: rotate(-45deg);
}

.arrow-most-reviewed span {
  color: #f5f5f5;
  font-family: sans-serif;
  font-size: 1rem;
  text-align: center;
  left: 33px;
  top: 68px;
  position: absolute;
  width: 70px;
}

.arrow-new {
  background-color: #62da4f;
  // box-shadow: 0 0 3px 2px rgba(0,0,0,0.8);
  height: 120px;
  left: -70px;
  position: absolute;
  top: -70px;
  width: 180px;
  z-index: 1;

  -webkit-transform: rotate(-45deg);
}

.arrow-new span {
  color: #f5f5f5;
  font-family: sans-serif;
  font-size: 1rem;
  text-align: center;
  left: 33px;
  top: 80px;
  position: absolute;
  width: 70px;
}

// Next and Previous Arrows

.previous-next {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  font-size: 32px;
}

.previous-next:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #f1f1f1;
  color: black;
}

.round {
  border-radius: 50%;
}

// Admin Cards

.admin-card-1btn {
  padding: 10px;
  width: 100%;
  height: 100px;
  border: 1px;
  padding: 5px 5px 0px 5px;
  border-radius: 5px;
  border: 1.5px solid #CBCBCB;
  border-top: 3px solid #c3df2a;
  text-align: left;
  margin-bottom: 30px;
}

.admin-card-2btn {
  padding: 10px;
  width: 100%;
  height: 150px;
  border: 1px;
  padding: 5px 5px 0px 5px;
  border-radius: 5px;
  border: 1.5px solid #CBCBCB;
  border-top: 3px solid #c3df2a;
  text-align: left;
  margin-bottom: 30px;
}

// Search Page

.search-flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.search-product-card {
  padding: 10px;
  width: 60%;
  height: 125px;
  border: 1px;
  border-radius: 5px;
  border: 1.5px solid #CBCBCB;
  border-top: 3px solid #419234;
  text-align: left;
  overflow: scroll;
  margin-bottom: 5px;
  align-self: center;
}

.search-review-card {
  padding: 10px;
  width: 60%;
  height: 130px;
  border: 1px;
  border-radius: 5px;
  border: 1.5px solid #CBCBCB;
  border-top: 3px solid #65e252;
  text-align: left;
  overflow: scroll;
  margin-bottom: 5px;
  align-self: center;
}

.search-noresult-card {
  width: 60%;
  height: 40px;
  border: 1px;
  padding: 5px 5px 0px 5px;
  border-radius: 5px;
  border: 1.5px solid #CBCBCB;
  border-top: 3px solid #f7b8b7;
  text-align: center;
  align-self: center;
}

.search-product-flex {
  display: flex;
  justify-content: space-between;
}

.search-adjust-stars {
  margin-top: 2px;
}

.search-review-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-flow: column wrap;
  flex-wrap: wrap;
}

.search-review-box1 {
  order: 1;
}

.search-review-box2 {
  order: 2;
  margin-top: 10px;
}

.search-review-box3 {
  order: 3;
  margin-top: -2px;
  page-break-after: always;
}

.search-review-box5 {
  flex: 0 0 50%;
  order: 5;
  margin-top: -10px;
  // margin-left: 0 auto;
  align-self: flex-end;
}

.search-review-text {
  margin-top: -5px;
}

// Footer & Footer Link Page Styles

.footer {
  margin-top: 10px;
  height: 100px;
  min-width: 60vh;
  max-width: 100%;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;


  & > h4 {
    margin-left: 20px;
    margin-right: 20px;
  }

  & > p {
    align-self: flex-end;
  }  
}

.footer-flex-end {
  page-break-after: always;
} 

.footer-legal {
  margin-top: -20px;
  text-align: center;
  font-size: .8rem;
}

.footer-spacer {
  margin-top: 15px;
}

// Static Footer Pages

.static-page-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  // align-items: baseline;

  & > .static-flex1 {
    order: 1;
    margin-top: 10px;
    // justify-content: center;

  }

  & > .static-flex2 {
    order: 2;
    margin-top: 40px;
  }
}

// Our Community

.community-flex-container {
  display: flex;
  // justify-content: center;
  flex-direction: column;
  // align-items: center;
  // width: auto;
  max-height: 210vh;
  flex-flow: column wrap;
  // flex-wrap: wrap;
}

.community-profile-card {
  flex: 0 1 11%;
  padding: 10px;
  width: 45%;
  height: 170px;
  border: 1px;
  border-radius: 5px;
  border: 1.5px solid #CBCBCB;
  border-top: 3px solid #e1d5ba;
  text-align: left;
  margin-bottom: 5px;
  align-self: center;
  white-space: nowrap;
  overflow: hidden;
}

.community-profile-flex {
  display: flex;
  align-items: center;
  // justify-content: space-between;
}

.community-profile-box1 {
  // flex: 0 0 50%;
  margin-right: 0 auto;
  order: 1;
  // margin-top: -10px;
  // margin-left: 0 auto;
  // align-self: flex-end;
  page-break-after: always;
}

.community-profile-box2 {
  margin-left: 40px;
  order: 2;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: auto;
  // flex-flow: column wrap;
  // flex-wrap: wrap;
}


.community-column-box1 {
  order: 1;
  // margin-top: -50px;
}

.community-column-box2 {
  order: 2;
  // margin-top: 10px;
  & > .community-align-stars {
    display: inline-block;
  }
}

.community-column-box3 {
  order: 3;
  // margin-top: 10px;
}

.community-column-box4 {
  order: 4;
  // margin-top: 10px;
}

.star-align {
  position: relative;
  top: 3px;
}

// Sort By Button for lists

.sort-flex-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  & h1 {
    grid-column: 2;
    justify-self: center;
  }

  & > .sort-button {
    grid-column: 3;
    justify-self: end;
    margin-top: 12px;
    width: 80px;
    height: 30px;
    margin-right: 110px;
  }
}

.sort-our-community-spacer {
  margin-top: -17px;
}