/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


 
 
// Custom Boostratp Variables must be imported before bootstrap
@import "bootstrap";

// General Text Styles

@font-face {font-family: "Snell Roundhand"; src: url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.eot"); src: url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.woff") format("woff"), url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.svg#Snell Roundhand") format("svg"); } 

@mixin headings {
  h1, h2, h3,
  h4, h5, h6 {
      @content;
  }
}

@include headings {
  font-family: 'Snell Roundhand';
}


// Header styles


.header-container {
  position: relative;
}

.header-image {
  padding: 5px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
  width: 100%;
  height: 400px;
  object-fit: cover;
  opacity: 0.35;
}

.header-top-left {
  position: absolute;
  padding-bottom: 100px;
  top: 34px;
  left: 16px;
  font-size: 6vw;
  line-height: 65px;
  min-width: 400px;
  font-family: 'Snell Roundhand', cursive;
}
.authentication-text {
  display: inline-block;
}

.authentication-position {
  position: absolute;
  top: 15px;
  right: 10px;
}

// Footer Styles

// Home Page Styles

.welcome-sub-header {
  text-align: center;
}


// UL to cards

.product-headers {
  text-align: left;
}

.products {
  padding: 2rem;
}

.products > h2 {
  grid-column: none;
  color: red;
}

.products > ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.products > ul > li {
  border: 1px solid #ccc;
  border-radius: .3rem;
}

.card {
  width: 275px;
  height: 290px;
  background-color: white;
  padding: 0.5% 0% 0% 0%;
  padding-bottom: 15px;
  border-radius: 5px;
  border: 1.5px solid #CBCBCB;
  border-top: 3px solid #36b555;
  text-align: center;
  float: left;
  margin-bottom: 4%;
  margin-right: 4%;
}