<h1 class="centered-header">Our Products</h1>

<% if current_user && current_user.admin %>
  <div class="margin-spacer admin-card-1btn">
    <div class="centered-header">
      <h3>Admin Only</h3>
    </div>
    <p><%= link_to "Create new product", new_product_path, class: "btn btn-success" %></p>
  </div>
<% end %>

<div class="products">

  <% if @products.any? %>

    <%= render "shared/product-card" %>

  <% else %>
    <p>There are no products yet.</p>
  <% end %>

</div>


<div class="pagination">
  <%= will_paginate @products %>
</div>