<h1 class="centered-header">Our Products</h1>

<div class="products">

  <% if @products.any? %>

    <%= render "products/product-card" %>

  <% else %>
    <p>There are no products yet.</p>
  <% end %>

</div>

  <% if current_user && current_user.admin %>
    <h3>Admin Only</h3>
    <p><%= link_to "Create new product", new_product_path %></p>
  <% end %>

  <%= will_paginate @products %>
