<h1 class="centered-header">Our Reviews</h1>

<div class="reviews-container">
  <% if @reviews.any? %>
      <div class="reviews-ul">
        <% @reviews.each do |review| %>
          <% user = @users.find_by(id: review.user_id) %>
          <% _product = @products.find_by(id: review.product_id) %>

          <%= render partial: "review_cards", locals: { user: user, review: review, product: _product } %>

        <% end %>
      </div>

  <% else %>
    <p>There are no reviews yet.</p>
  <% end %>
</div>
<div class="pagination">
  <%= will_paginate @reviews%>
</div>