    <div class="header-container">
      <%= image_tag 'magalie-de-preux-wGEtPYgFWP8-unsplash-crop.jpg', class: 'header-image', alt: 'Picture of exotic fruits and nuts' %>
      <div class="header-top-left">Mario's Specialty Food Products</div>
    </div>